.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: rgb(148, 142, 142) solid 1px;
    width: 100%;
    padding: 10px 10px 10px 10px;
    align-items: center;
}

.logo {
    width: 55px;
}

.logo--container {
    margin-left: 14px;
}

.navItems--container {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-right: 30px;
    align-items:stretch;
}

#homeBtn, #menuBtn, #aboutBtn, #locationBtn, #contactsBtn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 19px;
    color: rgb(69, 161, 69);
    background-color: #fff;
    border: solid 1px #fff;
    padding: 10px;
    transition: 0.3s;
}

#homeBtn:hover, #menuBtn:hover, #aboutBtn:hover, #locationBtn:hover, #contactsBtn:hover {
    color: #fff;
    background-color: rgb(69, 161, 69);
    border: solid 1px rgb(69, 161, 69);
}

.developer--info {
    margin-right: 40px;
}

#devBtn {
    width: 55px;
    background-color: rgb(69, 161, 69);
    border: solid 1px rgb(69, 161, 69);
    padding: 10px;
    border-radius: 13px;
}

#devBtn:hover {
    box-shadow: 0px 0px 12px rgb(78, 216, 78);
}

{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/*===== Content =====*/
.locationpic{
   margin-left: 50px;
}
.map{
   float: left;
   margin-left:350px;
}
.header{
   float: right;
   margin-right: 300px;
   color: rgb(69, 161, 69);
   font:Tahoma;
}
p{
   font-size: 13px;
}
.content{
   float: right;
   margin-right: 450px;
}
#aboutUsBtn {
    color: rgb(69, 161, 69);
    background-color: #fff;
    border: 1px solid rgb(69, 161, 69);
    padding: 10px 10px;
    border-radius: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    width: 120px;
    transition: 0.3s;
}
#orderNowBtn {
    color: rgb(255, 255, 255);
    background-color: rgb(69, 161, 69);
    border: 1px solid rgb(69, 161, 69);
    padding: 10px 10px;
    border-radius: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    width: 120px;
}

